.ht*
*.sublime-*
*.log
*_local.*
typo3conf/temp_CACHED*
typo3temp/*

typo3conf/ext/skin/template/node_modules
typo3conf/ext/skin/template/js/_bower_components/*
typo3conf/ext/skin/template/.sass-cache/*
typo3conf/ext/skin/template/.DS_Store
typo3conf/ext/skin/template/Gemfile.lock
typo3conf/ext/skin/template/docs/*

typo3conf/ext/skin/template/css/*.css.map

#Not these
!.gitkeep

