.ht*
*.sublime-*
*.log
.DS_Store
*_local.*
typo3conf/AdditionalConfiguration.php
typo3temp/*

typo3conf/ext/skinDummy/ext_typoscript_setup.txt
typo3conf/ext/skin/ext_typoscript_setup.txt

ENABLE_INSTALL_TOOL

node_modules
_bower_components
.sass-cache
Gemfile.lock
*.css.map

#Not these
!.gitkeep

