/* line 1, src/columns.scss */
.column { display: inline-block; margin: 0; vertical-align: top; }
/* line 12, src/ie.scss */
.column + .column { margin: 0 0 0 2.5%; }

/*
HTML columns : <div> <div class="column-50"> <h1>50</h1> </div><!-- --><div class="column-25"> <h1>25</h1> </div><!-- --><div class="column-25"> <h1>25</h1> </div> </div>
*/
/* line 31, src/columns.scss */
.column-80 { display: inline-block; margin: 0; vertical-align: top; width: 79.5%; }
/* line 12, src/ie.scss */
.column-80 + .column-80 { margin: 0 0 0 2.5%; }

/* line 32, src/columns.scss */
.column-75 { display: inline-block; margin: 0; vertical-align: top; width: 74.3750000000625%; }
/* line 12, src/ie.scss */
.column-75 + .column-75 { margin: 0 0 0 2.5%; }

/* line 33, src/columns.scss */
.column-70 { display: inline-block; margin: 0; vertical-align: top; width: 65.83333332675%; }
/* line 12, src/ie.scss */
.column-70 + .column-70 { margin: 0 0 0 2.5%; }

/* line 34, src/columns.scss */
.column-60 { display: inline-block; margin: 0; vertical-align: top; width: 59.0000000001%; }
/* line 12, src/ie.scss */
.column-60 + .column-60 { margin: 0 0 0 2.5%; }

/* line 35, src/columns.scss */
.column-50 { display: inline-block; margin: 0; vertical-align: top; width: 48.75%; }
/* line 12, src/ie.scss */
.column-50 + .column-50 { margin: 0 0 0 2.5%; }

/* line 36, src/columns.scss */
.column-40 { display: inline-block; margin: 0; vertical-align: top; width: 38.5%; }
/* line 12, src/ie.scss */
.column-40 + .column-40 { margin: 0 0 0 2.5%; }

/* line 37, src/columns.scss */
.column-30 { display: inline-block; margin: 0; vertical-align: top; width: 31.6666666635%; }
/* line 12, src/ie.scss */
.column-30 + .column-30 { margin: 0 0 0 2.5%; }

/* line 38, src/columns.scss */
.column-25 { display: inline-block; margin: 0; vertical-align: top; width: 23.125%; }
/* line 12, src/ie.scss */
.column-25 + .column-25 { margin: 0 0 0 2.5%; }

/* line 39, src/columns.scss */
.column-20 { display: inline-block; margin: 0; vertical-align: top; width: 18%; }
/* line 12, src/ie.scss */
.column-20 + .column-20 { margin: 0 0 0 2.5%; }

/* line 3, src/layout.scss */
html { font-size: 62.5%; line-height: 1.3em; }

/* line 4, src/layout.scss */
body { margin: 0; padding: 0; font-family: Arial, sans-serif; font-size: 1em; color: #333333; font-weight: 300; }

/* line 7, src/layout.scss */
a { text-decoration: none; color: #bc2422; }
/* line 9, src/layout.scss */
a img { border: 0; }

/* line 10, src/layout.scss */
a:hover { text-decoration: underline; }

/* line 13, src/layout.scss */
h1, .h1-like { margin: 25px 0; }

/* line 14, src/layout.scss */
h2, .h2-like { margin: 25px 0; }

/* line 15, src/layout.scss */
h3, .h3-like { margin: 25px 0; }

/* line 16, src/layout.scss */
h4, .h4-like { margin: 20px 0; }

/* line 17, src/layout.scss */
h5, .h5-like { margin: 20px 0; }

/* line 18, src/layout.scss */
.introduction { margin: 30px 0; }

/* line 19, src/layout.scss */
p, p.bodytext, h6, .h6-like { margin: 25px 0; }

/* line 20, src/layout.scss */
td p, td p.bodytext { margin: 0; }

/* line 21, src/layout.scss */
ul { margin: 30px 0; }
/* line 22, src/layout.scss */
ul li { margin: 5px 0; }

/* line 26, src/layout.scss */
p, li, td, th, textarea, caption, pre, blockquote, label, input, select, textarea { font-size: 1.4em; line-height: 1.7em; }

/* line 27, src/layout.scss */
li li, li p, td p, th p, li h1, li .h1-like, li h2, li .h2-like, li h3, li .h3-like, li h4, li .h4-like, li h5, li .h5-like, li h6, li .h6-like, button { font-size: 100%; }

/* line 28, src/layout.scss */
input, select, textarea { font-family: Arial, sans-serif; }

/* line 29, src/layout.scss */
h1, .h1-like, h2, .h2-like, h3, .h3-like, h4, .h4-like, h5, .h5-like { line-height: 1em; }

/* line 30, src/layout.scss */
h1, .h1-like { font-size: 3.5em; }

/* line 31, src/layout.scss */
h2, .h2-like, .important { font-size: 2.4em; }

/* line 32, src/layout.scss */
h3, .h3-like { font-size: 1.9em; }

/* line 33, src/layout.scss */
h4, .h4-like, .introduction { font-size: 1.7em; }

/* line 34, src/layout.scss */
h5, .h5-like { font-size: 1.6em; }

/* line 35, src/layout.scss */
h6, .h6-like { font-size: 1.4em; }

/* line 38, src/layout.scss */
hr { margin: 40px auto; border: none; height: 1px; background-color: #444444; }

/* line 39, src/layout.scss */
hr.clear { clear: both; height: 0px; }

/* line 42, src/layout.scss */
body { color: #444444; }

/* line 2, src/modules.scss */
.page { margin: 0 auto; width: 990px; }
@media screen and (min-width: 0px) { /* line 2, src/modules.scss */
  .page { width: 1200px; max-width: 100%; } }
@media screen and (max-width: 1240px) { /* line 2, src/modules.scss */
  .page { width: auto; margin-left: 20px; margin-right: 20px; } }

/* line 5, src/modules.scss */
.align-left { text-align: left; }

/* line 6, src/modules.scss */
.align-center { text-align: center; }

/* line 7, src/modules.scss */
.align-right { text-align: right; }

/* line 8, src/modules.scss */
.align-justify { text-align: justify; }

/* line 11, src/modules.scss */
.nav { display: block; margin: 0; padding: 0; }
/* line 18, src/ie.scss */
.nav li { display: inline-block; margin: 5px; padding: 0; }
/* line 21, src/ie.scss */
.nav li:hover .second { display: block; }
/* line 24, src/ie.scss */
.nav .second { position: absolute; display: none; }

/* line 1, src/powermail.scss */
.tx_powermail_pi1_form { text-align: right; }
/* line 2, src/powermail.scss */
.tx_powermail_pi1_form fieldset { border: 0; }
/* line 3, src/powermail.scss */
.tx_powermail_pi1_form .tx_powermail_line { clear: both; display: block; position: relative; margin: 10px auto; max-width: 600px; }
/* line 4, src/powermail.scss */
.tx_powermail_pi1_form label { display: inline-block; width: 24%; padding: 4px 1%; vertical-align: top; font-size: 2em; font-family: Arial, sans-serif; text-transform: uppercase; }
/* line 6, src/powermail.scss */
.tx_powermail_pi1_form .powermail_mandatory { margin-left: 5px; }
/* line 7, src/powermail.scss */
.tx_powermail_pi1_form textarea { height: 80px; }
/* line 8, src/powermail.scss */
.tx_powermail_pi1_form input[type="text"], .tx_powermail_pi1_form input[type="email"], .tx_powermail_pi1_form input[type="password"], .tx_powermail_pi1_form input[type="submit"], .tx_powermail_pi1_form select, .tx_powermail_pi1_form textarea { position: relative; padding: 7px 1%; width: 70%; border: 1px solid #333333; background-color: white; text-align: left; }
/* line 14, src/powermail.scss */
.tx_powermail_pi1_form select { width: 72.4%; cursor: pointer; }
/* line 15, src/powermail.scss */
.tx_powermail_pi1_form input[type="submit"] { width: auto; cursor: pointer; font-size: 2em; font-family: Arial, sans-serif; text-transform: uppercase; }
/* line 17, src/powermail.scss */
.tx_powermail_pi1_form input[type="text"]:focus, .tx_powermail_pi1_form input[type="email"]:focus, .tx_powermail_pi1_form input[type="password"]:focus, .tx_powermail_pi1_form textarea:focus { box-shadow: 0 0 3px #aad4ff; outline: 0; }
/* line 21, src/powermail.scss */
.tx_powermail_pi1_form input[type="text"].invalid, .tx_powermail_pi1_form input[type="email"].invalid, .tx_powermail_pi1_form input[type="password"].invalid, .tx_powermail_pi1_form textarea.invalid { box-shadow: 0 0 3px #e04831; }

/* line 27, src/powermail.scss */
.error { padding: 3px 1px 5px 1px; height: auto; background-color: #e04831; z-index: 10; color: white; }
/* line 29, src/powermail.scss */
.error p { margin: 0; padding: 0; font-weight: bold; }
/* line 30, src/powermail.scss */
.error em { display: block; position: absolute; bottom: -10px; left: 5px; width: 0; height: 0; border: 10px solid; border-bottom: 0 none; border-color: #e04831 transparent transparent; }

/*# sourceMappingURL=ie.css.map */