<!--Header-->
<div id="header" class="header">
    <div class="page">
         <!--Header-->
         <f:cObject typoscriptObjectPath="lib.logo" />

         <!--topNav-->
         <div class="menuTop">
            <f:cObject typoscriptObjectPath="menu.top" />
            <f:render partial="SearchForm" arguments="{searchFormAction:searchFormAction}"/>
        </div>

         <!--mainNav-->
         <f:cObject typoscriptObjectPath="menu.main" />
    </div>
</div>

<!--Content-->
<f:render section="mainContent" />

<!--Footer-->
<div id="footer" class="footer">
    <div class="page">
        <!--bottomNav-->
         <f:cObject typoscriptObjectPath="menu.bottom" />
    </div>
</div>